<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход и регистрация</title>
    <link rel="stylesheet" href="/css/loginStyle.css" />
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="mainContainer">
      <div class="form-box login">
        <form action="/login" method="POST" id="loginForm">
          <h1>Вход</h1>

          <div class="input-box">
            <input type="text" name="login" placeholder="Логин" required />
            <i class="bx bxs-user"></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Пароль"
              required
            />
            <i class="bx bxs-lock"></i>
          </div>

          <% if (message && !showRegister) { %>
          <div class="error-message" id="loginError"><%= message %></div>
          <script>
            window.serverMessage = "<%= message %>";
          </script>
          <% } %>
          <button type="submit" class="btn">Войти</button>
        </form>
      </div>

      <div class="form-box register">
        <form action="/register" method="POST">
          <h1>Регистрация</h1>
          <% if (message && showRegister) { %>
          <div class="error-message" id="registerError"><%= message %></div>
          <script>
            window.serverMessage = "<%= message %>";
          </script>
          <% } %>

          <div class="input-box">
            <input
              type="text"
              name="first_name"
              placeholder="Имя"
              required
              value="<%= formData?.first_name || '' %>"
            />
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input
              type="text"
              name="last_name"
              placeholder="Фамилия"
              required
              value="<%= formData?.last_name || '' %>"
            />
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input
              type="text"
              name="login"
              placeholder="Логин"
              minlength="5"
              required
              value="<%= formData?.login || '' %>"
            />
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Пароль"
              required
            />
            <i class="bx bxs-lock"></i>
          </div>
          <div class="input-box phone-container">
            <select name="country_code" id="country_code" required>
              <option value="" disabled selected>Выберите страну</option>
              <option value="+375">BLR +375</option>
              <option value="+7">RUS +7</option>
            </select>

            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="Введите номер"
              required
            />
            <i class="bx bxs-phone"></i>
          </div>

          <div class="input-box">
            <select name="client_type" id="client_type" required>
              <option value="" disabled selected>Тип клиента</option>
              <option value="individual">Физическое лицо</option>
              <option value="corporate">Юридическое лицо</option>
            </select>
          </div>

          <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
      </div>

      <div class="toggle-box">
        <div class="toggle-pannel toggle-left">
          <h1>BanquetBook</h1>
          <p>Нет аккаунта?</p>
          <button class="btn register-btn" id="registerToggle">
            Регистрация
          </button>
        </div>
        <div class="toggle-pannel toggle-right">
          <h1>Добро пожаловать!</h1>
          <p>Уже есть аккаунт?</p>
          <button class="btn login-btn" id="loginToggle">Войти</button>
        </div>
      </div>
    </div>
    <script>
      window.showRegister = <%- JSON.stringify(showRegister || false) %>;
      window.invalidLogin = <%- JSON.stringify(invalidLogin || false) %>;
    </script>
    <script src="/script/scriptLogin.js"></script>
  </body>
</html>
